{{page-title 'Frontend'}}

<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <button
      class='navbar-toggler'
      type='button'
      data-mdb-toggle='collapse'
      data-mdb-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <i class='fas fa-bars'></i>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <LinkTo class='navbar-brand mt-2 mt-lg-0' @route='home'>
        <img
          src='../../images/logo.png'
          height='40'
          alt='logo'
          loading='lazy'
        />
      </LinkTo>

      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <LinkTo @route='home' class='nav-link'>
            Início
          </LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo @route='register-game' class='nav-link'>
            Games
          </LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main style="margin-bottom: 150px" id='content'>
  {{outlet}}
</main>

<footer class='d-flex justify-content-end bg-dark p-3 fixed-bottom' id='footer'>
  <p class='lead text-white'>Desenvolvido com
    <i class='fas fa-heart text-danger'></i>
    por Lucas Alves</p>
</footer>